*{
    margin: 0px;
    padding: 0px;
}
:root{
    --p1:pink;
    --p2:seagreen;
    --p3:cornflowerblue;
    --p4:black;
}
header{
    background-color: #4b4b4b;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    box-sizing: border-box;
}
.priority-filter{
    display: flex;
    flex-direction: row;
    background-color: #3d3d3d;
    height: 60px ;
    margin-left: 50px;
}
.quick-action{
    display: flex;
    flex-direction: row;
    background-color: #3d3d3d;
    height: 60px;
    margin-left: 50px;
}
.priority-filter .box{
    cursor: pointer;
height: 40px;
width: 60px;
margin: 10px;
box-sizing: border-box;
}
.priority-filter .box:hover{
    border: 2px solid #ffffff;
}
.priority-filter .box.p1{
    background-color: var(--p1);
}
.priority-filter .box.p2{
    background-color: var(--p2);
}
.priority-filter .box.p3{
    background-color: var(--p3);
}
.priority-filter .box.p4{
    background-color: var(--p4);
}
.quick-action .icon{
    cursor: pointer;
    font-size: 30px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quick-action .icon:hover{
    background-color: greenyellow;
}
.quick-action .icon.add{
    color: white;
}
.quick-action .icon.delete.enabled{
    color: red;
}
.quick-action .icon.delete{
    color: white;
}
main h1{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0px;
}
.modal{
    width: 50vw;
    height: 50vh;
    background-color: #dfe4ea;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: flex;
    z-index: 1;
}
.modal .left-section{
    width: 100%;
    display: flex;
    height: 100%;
}
.modal .right-section{
    position: relative;
    /* margin-right: 0px; */
    width: 80px;
    display: flex;
    height: 100%;
    background-color: #4b4b4b;
}

.modal .left-section textarea{
    width: 100%;
    background-color:transparent;
    padding: 10px;
}
.modal .priority-filter{

    margin-left: 0px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    /* margin-left: 0px; */
    box-sizing: border-box;
}
.modal .priority-filter .box.selected{
    border: 1px solid #ffffff;
}
.modal .right-section .close{
    position: absolute;
    right: -16px;
    top: -18px;
    color: red;
    font-size: 17px;
    background-color: rgba(180,176,176,0.8);
    border-radius: 50%;
    padding: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
}
.hide{
    display: none;
}

.ticket-section{
    display: flex;
    padding: 15px;
    gap: 15px;
    flex-wrap: wrap;
}
.ticket-section.enabled-delete .ticket-delete{
    display: block;
}
.ticket-section .ticket-delete{
    display: none;
}
.ticket-container{
    width: 200px;
    min-height: 100px;
    background-color: #ccc;
    position: relative;
}
.ticket-container .ticket-priority{
    display: flex;
    height: 20px;
}
.ticket-container [data-priority='p1'].ticket-priority{
    background-color: var(--p1);
}
.ticket-container [data-priority='p2'].ticket-priority{
    background-color: var(--p2);
}
.ticket-container [data-priority='p3'].ticket-priority{
    background-color: var(--p3);
}
.ticket-container [data-priority='p4'].ticket-priority{
    background-color: var(--p4);
}
.ticket-container .ticket-id{
    display: flex;
    height: 30px;
    background-color: yellow;
}
.ticket-container .ticket-content{
    display: flex;
    height: 100px;
}
.ticket-container .ticket-content textarea{
    display: flex;
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    padding: 5px;  
}
.ticket-container .ticket-lock{
position: absolute;
right: 10px;
bottom: 10px;
cursor: pointer;
}
.ticket-delete{
    position: absolute;
left: 10px;
bottom: 10px;
cursor: pointer;
}
.ticket-container .ticket-lock .fa-lock-open{
    display: block;
}
.ticket-container .ticket-lock .fa-lock{
    display: none;
}
.ticket-container .ticket-lock.locked .fa-lock-open{
    display: none;
}
.ticket-container .ticket-lock.locked .fa-lock{
    display: block;
}
.clear-filter{
    margin-left: 15px;
    padding: 10px;
}